p{
    margin-bottom: 0px;
    color:#9AD3BC;
}
/*.progress{
    background-color: #F5B461;
    margin-right: 2px 1px;
    padding: 10px;
    margin-bottom: 10px;

}*/
/*.value{
    margin-left: 5px;
}
.conten-progress{
    width: 100%;
}*/
span{
    color:black;
}