p{
    margin-bottom: 0px;
    color:#9AD3BC;
}

span{
    color:black;
}
@media screen and (min-width:1001px){
    ngb-progressbar{
        width: 100%;
    }
    p{
        text-align: center;
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
}

