section{
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
    .titulo{
        color: whitesmoke;
        text-align: center;
        font-family: 'Syncopate';
        font-weight: bold;
        font-size: 0.9rem;
        margin-top: 20px;
        margin-bottom: 40px;
    }
}
.value-appearance{
   color: whitesmoke;
   font-family: 'Syncopate';
   text-align: center;
   font-weight: bold;
}
.title-team{
    font-family: 'Syncopate';
    font-weight: bold;
    color: #9AD3BC;
    text-align: center;
}
.content-team{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-principal{
    color: #EC524B;
    font-family: 'Syncopate';
    text-align: center;
    font-weight: bold;
}
.title-power{
    color: whitesmoke;
    font-family: 'Syncopate';
    text-align: center;
    font-weight: bold;
}
.content-power{
    margin-bottom: 30px;
    margin-top: 30px;
}
@media screen and (min-width:500px) and (max-width:800px) {
    section{
        p{
            margin-bottom: 30px;
        }
    }
}
@media screen and (min-width:801px) and (max-width:1000px) {
    
}
@media screen and (min-width:1001px){
    section{
        p{
            margin-top: 60px;
            margin-bottom: 0px;
        }
    }
    .content-power{
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
      margin-bottom: 50px;
    }
    .content-appearance{
        border-right: 1px solid whitesmoke;
        padding-right: 70px;

    }
    .content-p{
        width: 500px;
    }
}
