p{
    color: whitesmoke;
}
.content-item{
    width: auto;
    position: relative;
    -webkit-box-shadow: 0 0 5px 2px #EC524B;
    box-shadow: 0 0 5px 2px #EC524B; 
    margin-bottom: 35px;
    border-radius: 10px;
    img{
       width: 100%;
       border-radius: 10px;
       
    }
    p{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        width: 80%;
        background-color: #3d3c3cd8;
        font-weight: bold;
        text-align: center;
        border-radius: 5px;
        margin-top: 10px;
    }
}
section{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: auto;
    padding-top: 15px;
    column-gap: 25px;
    justify-content: center;
}
.content-zoom{
    position: absolute;
    z-index: 2;
    background-color: whitesmoke;
    border-radius: 50%;
    bottom:0;
    right: 0;
    border: 2px solid -webkit-box-shadow 1px 1px 10px 2px #313131;
    box-shadow: 1px 1px 10px 2px #313131;
    padding: 5px;
    display: flex;
    align-content: center;
    margin-left: auto;
    bottom: 10px;
    right: 10px;
   img{
       width: 25px;
       margin: 0px;
   }
}
.info{
    border-color:#9AD3BC;
}
.add{
    border-color: #F5B461;
    m
    &:focus{
        background-color: #F5B461;
    }
}
.name-hero{
    font-family: 'Open sans';
    font-weight: bold;
    color: #9AD3BC;
    text-align: center;
}
.aligment{
    font-family: 'Open sans';
    font-weight: bold;
    color: #4E504F;
    text-align: center;
}
@media screen and (min-width:500px) and (max-width:800px) {
   
}
@media screen and (min-width:801px) and (max-width:1000px) {
    section{
        grid-template-columns: 30% 30% 30%;
    }
}
@media screen and (min-width:1001px){
    section{
        grid-template-columns: 20% 20% 20% 20% ;
        column-gap: 50px;
    }
   
}
